body{
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
}
.top-navbar{
  background: #f72210;
}
.border{
  border: solid 2px red;
}
/* }
.nav-1{
  border: solid 2px green;
}
.ul-1{
  border: solid 2px yellow;
  width: 100%;
} */
header a{
  color: white;
  text-decoration: none;
}

.header_left {
  max-width: 220px;
  font-size: 15px;
  color: white;
  /* margin-left: -10px; */
}
.newsweek-logo{
  width: 396px;
  background-color: lavender;
}
nav ul {
    display: inline-block;
    padding-right: 1%;
    white-space: nowrap;
    width: 100%;
}
nav li a{
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
}
 /* .top_navbar{
  background: #f72210;
  padding: 20px 10px 15px;
  width: 100%;
  max-height: 96px;
  display: block;
}

.top_navbar_list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.top_navbar_list a{
  color: white;
}
.top_navbar_item_left{
  flex-direction:column;
  font-size: 1rem;
  margin-left:20px;
  align-content: center;
  width: fit-content;
  font-weight: 600;
  height: 100%;
} */

.nav-img{
  width: 24px;
}  

/* .date{
  padding-top: 10px;
  color: white;
}
.top_navbar_item_center{
  display: flex;
  justify-content: center;
}

.top_navbar_item_right{
  display: flex;
  font-size: 1.3rem;
  padding-top: 30px;
} */
.top_navbar_sign_in{
  font-weight: 700;
  /* padding: 6px 12px; */
  font-size: 18px;
}
.subscribe_btn{
  color: red;
  font-weight: 700;
  font-size: 18px;
  /* padding: 6px 10px 6px 12px; */
  border: none;
}
/* .bottom_navbar a{
  font-size: 1rem;
  width: auto;
} */

.search_input{
  width: 100%;
  font-size: 19px;
}
.fa-search{
  padding-top: 10px;
  font-size: 20px;
  width: 100%;
} 
.heading{
  padding-bottom: 11px;
}
.featured_stories{
  border-radius: 0%;
}
.featured_img{
  width: 100%;
}

.featured_heading{
  font-size: 16px;
  cursor: pointer;
}
.black{
  color: black;
}
.featured_title{
  margin-top: 20px;
}
.politics{
  position: relative;
  max-width: 100px;
  /* margin-top: -1rem; */
  padding: 0;
  text-align: center;
  text-decoration: none;
  color:red;
  background-color: #ECEEEF;
}

.opinion_heading{
  font-size: 16px;
  margin-left: 3%;
}

.world{
  position: absolute;
  margin-top: -3.6% ;
  padding: 0 10px;
  text-decoration: none;
  color:red;
  background: #ECEEEF;
}
.opinion_article{
  display: flex;
  border-bottom: 1px solid #555;
}
.debate_img,
.opinin_img{
  width: 60px;
  height: 60px;
}
.opinion_paragraph{
  color: #000;
  font-weight: 700;
  margin-left: 0;
}
.opinion_article2{
  padding-left: 10px;
}
.opinion_author{
  color: #555;
  font-size: 12px;
  font-weight: bold;
}
.hero_container{
  padding-left: 0;
}
.hero_container2{
  padding-right: 0;
}
.hero_img{
  max-width: 100%;
  min-height: 115px;
}
.hero_stripe{
  position: relative;
  min-width: 116px;
  margin-top: -1.1rem;
  padding: 0 6px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color:#484C4D;
  background-color:#C2D4D7;
}

.more_stories_title {
  font-size: 15px;
  width: 100%;
  max-width: 500px;
}
.more-stories_img{
  min-width: 96px;
  width: 100%;
}
.debate{
  border-bottom: 3px solid red;
}
.debate_host{
  font-size: 12px;
  min-width: 100px;
  color: #333;
  
}
.debate_host span{
  color: #000;
  font-weight: bolder;
}
/* 
.in_the_magazine_title{
  background-color: #f72210;
} */
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
  min-height: 280px;
}
.img-container {
  position: relative;
  width: 100%;
}

.category {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  background-color: rgb(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  width: fit-content;
  padding: 8px 15px 9px;
  margin-bottom: 2.4rem;
  color: #f72210;
}
.category a:hover {
  text-decoration: none;
  color: inherit;
}

.mag-promo-link {
  display: block;
  background-color: #f4f5f6;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 10px 10px 12px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.mag-promo-link::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg) center/contain no-repeat;
}

.cover-span{
  background-color:  #f72210;
  color: #fff ;
}
.mag_link{
  color: #f72210;
  /* font-weight: bold; */
}
.mag_link2{
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}
h2 a:hover{
  color:black;
  text-decoration: underline red;
}
.article2{
  border: solid 2px red;
}
/* @media screen and (min-width: 575px) {
  body{
    background-color: green;
  }
}

@media screen and (min-width: 767px){ 
  body{
    background-color: yellow;
  }
 }

 @media screen and (min-width: 1023px) {
  body{
    background-color: ghostwhite;
  }
 } */

.newsweek-icon{
  width: 30px;
  height: 30px;
}

.us{
  font-size: 25px;
}
.us-wrapper{
  border: solid 2px green;
}
.us-img{
  width: 100px;
  height: 100px;
}
.responsive {
  width: 100%;
  height: 100%;
}
.us2-wrapper{
  border: solid 2px red;
  width: 100%;
  /* height: auto; */
}
.height{
  height: 98px;
}
.sub-img{
  max-width: 246px;
}
.sub-container{
  background-color: #F4F5F6;
}
.sub-wrapper{
  border: solid 2px red;
}
.footer-logo {
  max-width: 236px;
}
.footer-copyright{
  font-size: 10px;
  font-weight: bold;
}